@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
}

.error {
	color:red;
	padding:2px;
}
.card {
	width: 250px;
	height: auto;
	border-radius:5px;
	overflow:hidden;
	box-shadow: 0 0 5px gray;
	cursor:pointer;
}

.welcome-message {
	margin:50px;
	font-size:50px;
	margin-bottom:0px;
	padding-bottom:0;
}

#main {
	width:200px;
	display:inline-block;
	position:absolute;
	bottom:0;
	top:$navbar-item-img-max-height;
}

.container {
	margin-left: 200px;
	padding-left:35px;
}



