<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Security</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="..\static\css\index.css">
</head>

<body>
	<nav class="navbar is-light">
		<i class="fas fa-user-shield" id="logo"></i>
	  <!-- navbar brand, navbar menu... -->
	</nav>
	<aside class="menu is-fullheight is-light" id="main">
	  <p class="menu-label">
		General
	  </p>
	  <ul class="menu-list">
		<li><a onclick="load('dashboard_page')">Dashboard</a></li>
		<li><a onclick="load('camera_page')">Camera's</a></li>
	  </ul>
	  <p class="menu-label">
		Administration
	  </p>
	  <ul class="menu-list">
		<li><a onclick="load('settings_page')">Settings</a></li>
		<li>
		  <a onclick="load('manage_page')">Manage Your System</a>
		  <ul>
			<li><a onclick="load('users_page')">Users</a></li>
			<li><a onclick="load('schedules_page')">Schedules</a></li>
			<li><a onclick="load('events_page')">Events</a></li>
		  </ul>
		</li>
	  </ul>
	</aside>
            <div class="container result">

            </div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="../static/js/knockout-3.4.2.js"></script> -->
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<script type="text/javascript" src="../static/js/index.js"></script>
</body>

</html>