<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Security</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="icon" href="../static/images/glyphicons-4-user.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<style>
		body {
			font-family: Open Sans, Sans;
		}
	
	
	</style>



</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h2 class="title has-text-grey">Smart Security Create Account</h2>
                    <div class="box">
                        <form method="POST">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="email" name="username_field" placeholder="Your Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="password" name="password_field" placeholder="Your Password">
                                </div>
                            </div>
							<div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="password" name="password_field2" placeholder="Confirm Your Password">
                                </div>
                            </div>
                            <div class="field">
                                    <div class="control">
                                        <input class="input is-medium" type="text" name="first_name" placeholder="First Name">
                                    </div>
                            </div>
                            <div class="field">
                                    <div class="control">
                                        <input class="input is-medium" type="text" name="last_name" placeholder="Last Name">
                                    </div>
                            </div>
                            <div class="field">
                                    <div class="control">
                                        <input class="input is-medium" type="tel" name="phone_number" placeholder="Cell Phone Number">
                                    </div>
                            </div>
                            <label class="checkbox">
                                    <input type="checkbox">
                                    Receive text alerts
                            </label>
                            <button class="button is-block is-info is-medium is-fullwidth">Create Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <!-- <script type="text/javascript" src="../static/js/knockout-3.4.2.js"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</body>

</html>